{% extends '@Openl10nWeb/layout/base.html.twig' %}

{% block body %}
  <div id="header"></div>

  <div class="page-wrapper">
    <div id="main"></div>
  </div>

  <div id="dialog"></div>
{% endblock %}
