{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
        <form action="{{ path("openl10n_security_check") }}" method="POST" class="panel panel-default panel-login" novalidate>
          <div class="panel-heading panel-heading-lg">
            <h3 class="panel-title">
              Please sign in
            </h3>
          </div>

          <div class="panel-body">
            {{ form_row(form._username, {attr: {class: 'input-lg'}}) }}
            {{ form_row(form._password, {attr: {class: 'input-lg'}}) }}
            {{ form_rest(form) }}

            <p>
              <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-lg btn-block">
                Login
              </button>
            </p>

            <p class="pull-right">
              <a href="#">I've forgotten my password</a>
            </p>
          </div>
        </form>

        <p class="text-center">
          Don't have an account yet?
          <a href="#">Sign up</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
