{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Remove locale
          </h3>
        </div>

        <p class="panel-body">
          You cannot remove locale <strong>{{ locale.locale }}</strong> of
          project <strong>{{ project.name }}</strong>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
