{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form action="{{ path('openl10n_language_new', {'slug': project.slug}) }}" method="POST" class="panel panel-default" novalidate>
        <div class="panel-heading">
          <h3 class="panel-title">New locale</h3>
        </div>

        <div class="panel-body">
          {{ form_widget(form) }}
        </div>

        <div class="panel-footer">
          <button type="submit" class="btn btn-primary">Add</button>
          <a href="{{ path('openl10n_project_show', {'slug': project.slug}) }}" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

