<li>
  <a href="#" data-bypass class="filter-all">
    <span class="count">{{stats.all}}</span>
    <span class="name">All</span>
  </a>
</li>
<li>
  <a href="#" data-bypass class="filter-untranslated">
    <span class="count">{{stats.untranslated}}</span>
    <span class="name">Untranslated</span>
  </a>
</li>
<li>
  <a href="#" data-bypass class="filter-unapproved">
    <span class="count">{{stats.unapproved}}</span>
    <span class="name">Unapproved</span>
  </a>
</li>
