.flag {
  display: inline-block;
  background: #fff center center no-repeat;
  border-radius: 2px;

  &.flag-lg {
    width: 48px;
    height: 32px;
  }

  &.flag-unknown {
    display: none;
  }

  &.flag-grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  }

  &.flag-AD {
    background-image: url('/images/flags/48x48/AD.png');
  }
  &.flag-AE {
    background-image: url('/images/flags/48x48/AE.png');
  }
  &.flag-AF {
    background-image: url('/images/flags/48x48/AF.png');
  }
  &.flag-AG {
    background-image: url('/images/flags/48x48/AG.png');
  }
  &.flag-AI {
    background-image: url('/images/flags/48x48/AI.png');
  }
  &.flag-AL {
    background-image: url('/images/flags/48x48/AL.png');
  }
  &.flag-AM {
    background-image: url('/images/flags/48x48/AM.png');
  }
  &.flag-AN {
    background-image: url('/images/flags/48x48/AN.png');
  }
  &.flag-AO {
    background-image: url('/images/flags/48x48/AO.png');
  }
  &.flag-AR {
    background-image: url('/images/flags/48x48/AR.png');
  }
  &.flag-AS {
    background-image: url('/images/flags/48x48/AS.png');
  }
  &.flag-AT {
    background-image: url('/images/flags/48x48/AT.png');
  }
  &.flag-AU {
    background-image: url('/images/flags/48x48/AU.png');
  }
  &.flag-AW {
    background-image: url('/images/flags/48x48/AW.png');
  }
  &.flag-AZ {
    background-image: url('/images/flags/48x48/AZ.png');
  }
  &.flag-BA {
    background-image: url('/images/flags/48x48/BA.png');
  }
  &.flag-BB {
    background-image: url('/images/flags/48x48/BB.png');
  }
  &.flag-BD {
    background-image: url('/images/flags/48x48/BD.png');
  }
  &.flag-BE {
    background-image: url('/images/flags/48x48/BE.png');
  }
  &.flag-BF {
    background-image: url('/images/flags/48x48/BF.png');
  }
  &.flag-BG {
    background-image: url('/images/flags/48x48/BG.png');
  }
  &.flag-BH {
    background-image: url('/images/flags/48x48/BH.png');
  }
  &.flag-BI {
    background-image: url('/images/flags/48x48/BI.png');
  }
  &.flag-BJ {
    background-image: url('/images/flags/48x48/BJ.png');
  }
  &.flag-BM {
    background-image: url('/images/flags/48x48/BM.png');
  }
  &.flag-BN {
    background-image: url('/images/flags/48x48/BN.png');
  }
  &.flag-BO {
    background-image: url('/images/flags/48x48/BO.png');
  }
  &.flag-BR {
    background-image: url('/images/flags/48x48/BR.png');
  }
  &.flag-BS {
    background-image: url('/images/flags/48x48/BS.png');
  }
  &.flag-BT {
    background-image: url('/images/flags/48x48/BT.png');
  }
  &.flag-BV {
    background-image: url('/images/flags/48x48/BV.png');
  }
  &.flag-BW {
    background-image: url('/images/flags/48x48/BW.png');
  }
  &.flag-BY {
    background-image: url('/images/flags/48x48/BY.png');
  }
  &.flag-BZ {
    background-image: url('/images/flags/48x48/BZ.png');
  }
  &.flag-CA {
    background-image: url('/images/flags/48x48/CA.png');
  }
  &.flag-CATALONIA {
    background-image: url('/images/flags/48x48/CATALONIA.png');
  }
  &.flag-CD {
    background-image: url('/images/flags/48x48/CD.png');
  }
  &.flag-CF {
    background-image: url('/images/flags/48x48/CF.png');
  }
  &.flag-CG {
    background-image: url('/images/flags/48x48/CG.png');
  }
  &.flag-CH {
    background-image: url('/images/flags/48x48/CH.png');
  }
  &.flag-CI {
    background-image: url('/images/flags/48x48/CI.png');
  }
  &.flag-CK {
    background-image: url('/images/flags/48x48/CK.png');
  }
  &.flag-CL {
    background-image: url('/images/flags/48x48/CL.png');
  }
  &.flag-CM {
    background-image: url('/images/flags/48x48/CM.png');
  }
  &.flag-CN {
    background-image: url('/images/flags/48x48/CN.png');
  }
  &.flag-CO {
    background-image: url('/images/flags/48x48/CO.png');
  }
  &.flag-CR {
    background-image: url('/images/flags/48x48/CR.png');
  }
  &.flag-CU {
    background-image: url('/images/flags/48x48/CU.png');
  }
  &.flag-CV {
    background-image: url('/images/flags/48x48/CV.png');
  }
  &.flag-CW {
    background-image: url('/images/flags/48x48/CW.png');
  }
  &.flag-CY {
    background-image: url('/images/flags/48x48/CY.png');
  }
  &.flag-CZ {
    background-image: url('/images/flags/48x48/CZ.png');
  }
  &.flag-DE {
    background-image: url('/images/flags/48x48/DE.png');
  }
  &.flag-DJ {
    background-image: url('/images/flags/48x48/DJ.png');
  }
  &.flag-DK {
    background-image: url('/images/flags/48x48/DK.png');
  }
  &.flag-DM {
    background-image: url('/images/flags/48x48/DM.png');
  }
  &.flag-DO {
    background-image: url('/images/flags/48x48/DO.png');
  }
  &.flag-DZ {
    background-image: url('/images/flags/48x48/DZ.png');
  }
  &.flag-EC {
    background-image: url('/images/flags/48x48/EC.png');
  }
  &.flag-EE {
    background-image: url('/images/flags/48x48/EE.png');
  }
  &.flag-EG {
    background-image: url('/images/flags/48x48/EG.png');
  }
  &.flag-EH {
    background-image: url('/images/flags/48x48/EH.png');
  }
  &.flag-ER {
    background-image: url('/images/flags/48x48/ER.png');
  }
  &.flag-ES {
    background-image: url('/images/flags/48x48/ES.png');
  }
  &.flag-ET {
    background-image: url('/images/flags/48x48/ET.png');
  }
  &.flag-EU {
    background-image: url('/images/flags/48x48/EU.png');
  }
  &.flag-FI {
    background-image: url('/images/flags/48x48/FI.png');
  }
  &.flag-FJ {
    background-image: url('/images/flags/48x48/FJ.png');
  }
  &.flag-FK {
    background-image: url('/images/flags/48x48/FK.png');
  }
  &.flag-FM {
    background-image: url('/images/flags/48x48/FM.png');
  }
  &.flag-FO {
    background-image: url('/images/flags/48x48/FO.png');
  }
  &.flag-FR {
    background-image: url('/images/flags/48x48/FR.png');
  }
  &.flag-GA {
    background-image: url('/images/flags/48x48/GA.png');
  }
  &.flag-GB {
    background-image: url('/images/flags/48x48/GB.png');
  }
  &.flag-GD {
    background-image: url('/images/flags/48x48/GD.png');
  }
  &.flag-GE {
    background-image: url('/images/flags/48x48/GE.png');
  }
  &.flag-GF {
    background-image: url('/images/flags/48x48/GF.png');
  }
  &.flag-GG {
    background-image: url('/images/flags/48x48/GG.png');
  }
  &.flag-GH {
    background-image: url('/images/flags/48x48/GH.png');
  }
  &.flag-GI {
    background-image: url('/images/flags/48x48/GI.png');
  }
  &.flag-GL {
    background-image: url('/images/flags/48x48/GL.png');
  }
  &.flag-GM {
    background-image: url('/images/flags/48x48/GM.png');
  }
  &.flag-GN {
    background-image: url('/images/flags/48x48/GN.png');
  }
  &.flag-GP {
    background-image: url('/images/flags/48x48/GP.png');
  }
  &.flag-GQ {
    background-image: url('/images/flags/48x48/GQ.png');
  }
  &.flag-GR {
    background-image: url('/images/flags/48x48/GR.png');
  }
  &.flag-GS {
    background-image: url('/images/flags/48x48/GS.png');
  }
  &.flag-GT {
    background-image: url('/images/flags/48x48/GT.png');
  }
  &.flag-GU {
    background-image: url('/images/flags/48x48/GU.png');
  }
  &.flag-GW {
    background-image: url('/images/flags/48x48/GW.png');
  }
  &.flag-GY {
    background-image: url('/images/flags/48x48/GY.png');
  }
  &.flag-HK {
    background-image: url('/images/flags/48x48/HK.png');
  }
  &.flag-HM {
    background-image: url('/images/flags/48x48/HM.png');
  }
  &.flag-HN {
    background-image: url('/images/flags/48x48/HN.png');
  }
  &.flag-HR {
    background-image: url('/images/flags/48x48/HR.png');
  }
  &.flag-HT {
    background-image: url('/images/flags/48x48/HT.png');
  }
  &.flag-HU {
    background-image: url('/images/flags/48x48/HU.png');
  }
  &.flag-ID {
    background-image: url('/images/flags/48x48/ID.png');
  }
  &.flag-IE {
    background-image: url('/images/flags/48x48/IE.png');
  }
  &.flag-IL {
    background-image: url('/images/flags/48x48/IL.png');
  }
  &.flag-IM {
    background-image: url('/images/flags/48x48/IM.png');
  }
  &.flag-IN {
    background-image: url('/images/flags/48x48/IN.png');
  }
  &.flag-IO {
    background-image: url('/images/flags/48x48/IO.png');
  }
  &.flag-IQ {
    background-image: url('/images/flags/48x48/IQ.png');
  }
  &.flag-IR {
    background-image: url('/images/flags/48x48/IR.png');
  }
  &.flag-IS {
    background-image: url('/images/flags/48x48/IS.png');
  }
  &.flag-IT {
    background-image: url('/images/flags/48x48/IT.png');
  }
  &.flag-JE {
    background-image: url('/images/flags/48x48/JE.png');
  }
  &.flag-JM {
    background-image: url('/images/flags/48x48/JM.png');
  }
  &.flag-JO {
    background-image: url('/images/flags/48x48/JO.png');
  }
  &.flag-JP {
    background-image: url('/images/flags/48x48/JP.png');
  }
  &.flag-KE {
    background-image: url('/images/flags/48x48/KE.png');
  }
  &.flag-KG {
    background-image: url('/images/flags/48x48/KG.png');
  }
  &.flag-KH {
    background-image: url('/images/flags/48x48/KH.png');
  }
  &.flag-KI {
    background-image: url('/images/flags/48x48/KI.png');
  }
  &.flag-KM {
    background-image: url('/images/flags/48x48/KM.png');
  }
  &.flag-KN {
    background-image: url('/images/flags/48x48/KN.png');
  }
  &.flag-KP {
    background-image: url('/images/flags/48x48/KP.png');
  }
  &.flag-KR {
    background-image: url('/images/flags/48x48/KR.png');
  }
  &.flag-KURDISTAN {
    background-image: url('/images/flags/48x48/KURDISTAN.png');
  }
  &.flag-KW {
    background-image: url('/images/flags/48x48/KW.png');
  }
  &.flag-KY {
    background-image: url('/images/flags/48x48/KY.png');
  }
  &.flag-KZ {
    background-image: url('/images/flags/48x48/KZ.png');
  }
  &.flag-LA {
    background-image: url('/images/flags/48x48/LA.png');
  }
  &.flag-LB {
    background-image: url('/images/flags/48x48/LB.png');
  }
  &.flag-LC {
    background-image: url('/images/flags/48x48/LC.png');
  }
  &.flag-LI {
    background-image: url('/images/flags/48x48/LI.png');
  }
  &.flag-LK {
    background-image: url('/images/flags/48x48/LK.png');
  }
  &.flag-LR {
    background-image: url('/images/flags/48x48/LR.png');
  }
  &.flag-LS {
    background-image: url('/images/flags/48x48/LS.png');
  }
  &.flag-LT {
    background-image: url('/images/flags/48x48/LT.png');
  }
  &.flag-LU {
    background-image: url('/images/flags/48x48/LU.png');
  }
  &.flag-LV {
    background-image: url('/images/flags/48x48/LV.png');
  }
  &.flag-LY {
    background-image: url('/images/flags/48x48/LY.png');
  }
  &.flag-MA {
    background-image: url('/images/flags/48x48/MA.png');
  }
  &.flag-MC {
    background-image: url('/images/flags/48x48/MC.png');
  }
  &.flag-MD {
    background-image: url('/images/flags/48x48/MD.png');
  }
  &.flag-ME {
    background-image: url('/images/flags/48x48/ME.png');
  }
  &.flag-MG {
    background-image: url('/images/flags/48x48/MG.png');
  }
  &.flag-MH {
    background-image: url('/images/flags/48x48/MH.png');
  }
  &.flag-MK {
    background-image: url('/images/flags/48x48/MK.png');
  }
  &.flag-ML {
    background-image: url('/images/flags/48x48/ML.png');
  }
  &.flag-MM {
    background-image: url('/images/flags/48x48/MM.png');
  }
  &.flag-MN {
    background-image: url('/images/flags/48x48/MN.png');
  }
  &.flag-MO {
    background-image: url('/images/flags/48x48/MO.png');
  }
  &.flag-MP {
    background-image: url('/images/flags/48x48/MP.png');
  }
  &.flag-MQ {
    background-image: url('/images/flags/48x48/MQ.png');
  }
  &.flag-MR {
    background-image: url('/images/flags/48x48/MR.png');
  }
  &.flag-MS {
    background-image: url('/images/flags/48x48/MS.png');
  }
  &.flag-MT {
    background-image: url('/images/flags/48x48/MT.png');
  }
  &.flag-MU {
    background-image: url('/images/flags/48x48/MU.png');
  }
  &.flag-MV {
    background-image: url('/images/flags/48x48/MV.png');
  }
  &.flag-MW {
    background-image: url('/images/flags/48x48/MW.png');
  }
  &.flag-MX {
    background-image: url('/images/flags/48x48/MX.png');
  }
  &.flag-MY {
    background-image: url('/images/flags/48x48/MY.png');
  }
  &.flag-MZ {
    background-image: url('/images/flags/48x48/MZ.png');
  }
  &.flag-NA {
    background-image: url('/images/flags/48x48/NA.png');
  }
  &.flag-NC {
    background-image: url('/images/flags/48x48/NC.png');
  }
  &.flag-NE {
    background-image: url('/images/flags/48x48/NE.png');
  }
  &.flag-NF {
    background-image: url('/images/flags/48x48/NF.png');
  }
  &.flag-NG {
    background-image: url('/images/flags/48x48/NG.png');
  }
  &.flag-NI {
    background-image: url('/images/flags/48x48/NI.png');
  }
  &.flag-NL {
    background-image: url('/images/flags/48x48/NL.png');
  }
  &.flag-NO {
    background-image: url('/images/flags/48x48/NO.png');
  }
  &.flag-NP {
    background-image: url('/images/flags/48x48/NP.png');
  }
  &.flag-NR {
    background-image: url('/images/flags/48x48/NR.png');
  }
  &.flag-NU {
    background-image: url('/images/flags/48x48/NU.png');
  }
  &.flag-NZ {
    background-image: url('/images/flags/48x48/NZ.png');
  }
  &.flag-OM {
    background-image: url('/images/flags/48x48/OM.png');
  }
  &.flag-PA {
    background-image: url('/images/flags/48x48/PA.png');
  }
  &.flag-PE {
    background-image: url('/images/flags/48x48/PE.png');
  }
  &.flag-PF {
    background-image: url('/images/flags/48x48/PF.png');
  }
  &.flag-PG {
    background-image: url('/images/flags/48x48/PG.png');
  }
  &.flag-PH {
    background-image: url('/images/flags/48x48/PH.png');
  }
  &.flag-PK {
    background-image: url('/images/flags/48x48/PK.png');
  }
  &.flag-PL {
    background-image: url('/images/flags/48x48/PL.png');
  }
  &.flag-PM {
    background-image: url('/images/flags/48x48/PM.png');
  }
  &.flag-PN {
    background-image: url('/images/flags/48x48/PN.png');
  }
  &.flag-PR {
    background-image: url('/images/flags/48x48/PR.png');
  }
  &.flag-PS {
    background-image: url('/images/flags/48x48/PS.png');
  }
  &.flag-PT {
    background-image: url('/images/flags/48x48/PT.png');
  }
  &.flag-PW {
    background-image: url('/images/flags/48x48/PW.png');
  }
  &.flag-PY {
    background-image: url('/images/flags/48x48/PY.png');
  }
  &.flag-QA {
    background-image: url('/images/flags/48x48/QA.png');
  }
  &.flag-RE {
    background-image: url('/images/flags/48x48/RE.png');
  }
  &.flag-RO {
    background-image: url('/images/flags/48x48/RO.png');
  }
  &.flag-RS {
    background-image: url('/images/flags/48x48/RS.png');
  }
  &.flag-RU {
    background-image: url('/images/flags/48x48/RU.png');
  }
  &.flag-RW {
    background-image: url('/images/flags/48x48/RW.png');
  }
  &.flag-SA {
    background-image: url('/images/flags/48x48/SA.png');
  }
  &.flag-SB {
    background-image: url('/images/flags/48x48/SB.png');
  }
  &.flag-SC {
    background-image: url('/images/flags/48x48/SC.png');
  }
  &.flag-SCOTLAND {
    background-image: url('/images/flags/48x48/SCOTLAND.png');
  }
  &.flag-SD {
    background-image: url('/images/flags/48x48/SD.png');
  }
  &.flag-SE {
    background-image: url('/images/flags/48x48/SE.png');
  }
  &.flag-SG {
    background-image: url('/images/flags/48x48/SG.png');
  }
  &.flag-SH {
    background-image: url('/images/flags/48x48/SH.png');
  }
  &.flag-SI {
    background-image: url('/images/flags/48x48/SI.png');
  }
  &.flag-SK {
    background-image: url('/images/flags/48x48/SK.png');
  }
  &.flag-SL {
    background-image: url('/images/flags/48x48/SL.png');
  }
  &.flag-SM {
    background-image: url('/images/flags/48x48/SM.png');
  }
  &.flag-SN {
    background-image: url('/images/flags/48x48/SN.png');
  }
  &.flag-SO {
    background-image: url('/images/flags/48x48/SO.png');
  }
  &.flag-SOMALILAND {
    background-image: url('/images/flags/48x48/SOMALILAND.png');
  }
  &.flag-SR {
    background-image: url('/images/flags/48x48/SR.png');
  }
  &.flag-SS {
    background-image: url('/images/flags/48x48/SS.png');
  }
  &.flag-ST {
    background-image: url('/images/flags/48x48/ST.png');
  }
  &.flag-SV {
    background-image: url('/images/flags/48x48/SV.png');
  }
  &.flag-SY {
    background-image: url('/images/flags/48x48/SY.png');
  }
  &.flag-SZ {
    background-image: url('/images/flags/48x48/SZ.png');
  }
  &.flag-TC {
    background-image: url('/images/flags/48x48/TC.png');
  }
  &.flag-TD {
    background-image: url('/images/flags/48x48/TD.png');
  }
  &.flag-TF {
    background-image: url('/images/flags/48x48/TF.png');
  }
  &.flag-TG {
    background-image: url('/images/flags/48x48/TG.png');
  }
  &.flag-TH {
    background-image: url('/images/flags/48x48/TH.png');
  }
  &.flag-TJ {
    background-image: url('/images/flags/48x48/TJ.png');
  }
  &.flag-TK {
    background-image: url('/images/flags/48x48/TK.png');
  }
  &.flag-TL {
    background-image: url('/images/flags/48x48/TL.png');
  }
  &.flag-TM {
    background-image: url('/images/flags/48x48/TM.png');
  }
  &.flag-TN {
    background-image: url('/images/flags/48x48/TN.png');
  }
  &.flag-TO {
    background-image: url('/images/flags/48x48/TO.png');
  }
  &.flag-TR {
    background-image: url('/images/flags/48x48/TR.png');
  }
  &.flag-TT {
    background-image: url('/images/flags/48x48/TT.png');
  }
  &.flag-TV {
    background-image: url('/images/flags/48x48/TV.png');
  }
  &.flag-TW {
    background-image: url('/images/flags/48x48/TW.png');
  }
  &.flag-TZ {
    background-image: url('/images/flags/48x48/TZ.png');
  }
  &.flag-UA {
    background-image: url('/images/flags/48x48/UA.png');
  }
  &.flag-UG {
    background-image: url('/images/flags/48x48/UG.png');
  }
  &.flag-UM {
    background-image: url('/images/flags/48x48/UM.png');
  }
  &.flag-US {
    background-image: url('/images/flags/48x48/US.png');
  }
  &.flag-UY {
    background-image: url('/images/flags/48x48/UY.png');
  }
  &.flag-UZ {
    background-image: url('/images/flags/48x48/UZ.png');
  }
  &.flag-VA {
    background-image: url('/images/flags/48x48/VA.png');
  }
  &.flag-VC {
    background-image: url('/images/flags/48x48/VC.png');
  }
  &.flag-VE {
    background-image: url('/images/flags/48x48/VE.png');
  }
  &.flag-VG {
    background-image: url('/images/flags/48x48/VG.png');
  }
  &.flag-VI {
    background-image: url('/images/flags/48x48/VI.png');
  }
  &.flag-VN {
    background-image: url('/images/flags/48x48/VN.png');
  }
  &.flag-VU {
    background-image: url('/images/flags/48x48/VU.png');
  }
  &.flag-WALES {
    background-image: url('/images/flags/48x48/WALES.png');
  }
  &.flag-WF {
    background-image: url('/images/flags/48x48/WF.png');
  }
  &.flag-WS {
    background-image: url('/images/flags/48x48/WS.png');
  }
  &.flag-YE {
    background-image: url('/images/flags/48x48/YE.png');
  }
  &.flag-YT {
    background-image: url('/images/flags/48x48/YT.png');
  }
  &.flag-ZA {
    background-image: url('/images/flags/48x48/ZA.png');
  }
  &.flag-ZANZIBAR {
    background-image: url('/images/flags/48x48/ZANZIBAR.png');
  }
  &.flag-ZM {
    background-image: url('/images/flags/48x48/ZM.png');
  }
  &.flag-ZW {
    background-image: url('/images/flags/48x48/ZW.png');
  }
}
