/web/bundles/
/web/css/
/web/js/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/deploy/*
!/app/deploy/deploy.rb.dist

/vendor/
/build/
/bin/
/composer.phar
/behat.yml
