/web/bundles/
/web/css/
/web/js/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/config/production.rb
/app/config/demo.rb

/vendor/
/build/
/bin/
/composer.phar
/behat.yml
