@import "../variables.scss";

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 8%);
        border-color: darken($border, 12%);
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled,
  &[disabled] {
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }
}

.btn-dark {
  @include button-variant(#444, $dark-gray, $dark-gray);
}
.btn-light {
  @include button-variant(#444, $light-gray, $light-gray);
}
.btn-flashy {
  @include button-variant(#fff, $complement-color, $complement-color);
}

// Use for the save button on editor
.btn-sm.btn-wide {
  padding-left: 20px;
  padding-right: 20px;
}

// OAuth connect buttons
.btn-oauth-sensio_connect {
  @include button-variant(#fff, #5cb85c, #5cb85c);
}
.btn-oauth-vkontakte {
  @include button-variant(#fff, #4e729a, #4e729a);
}
.btn-oauth-facebook {
  @include button-variant(#fff, #3B5998, #3B5998);
}
.btn-oauth-github {
  @include button-variant(#000, #f3f3f3, #ddd);
}
