.ol-header {
    background-color: #eee;
    border-bottom: 1px solid #eaeaea;
    margin-top: -20px; /* stick to the navbar*/
    margin-bottom: 20px;
    padding: 15px 0 10px;

    .ol-header-title {
        font-weight: 300;
        margin: 0;
        font-size: 28px;
    }
    .nav-pills > li > a {
        padding: 7px 15px;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        //font-size: 20px;
    }
}
#appLayout {
    .ol-header {
        margin-bottom: 0;
    }
}
