@import "../variables.scss";

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$navbar-custom-color:             #fff;
$navbar-custom-bg:                $primary-color;
$navbar-custom-border:            darken($navbar-custom-bg, 3%);

// Navbar links
$navbar-custom-link-color:                #fff;
$navbar-custom-link-hover-color:          #fff;
$navbar-custom-link-hover-bg:             #3276b1;
$navbar-custom-link-active-color:         #eee;
$navbar-custom-link-active-bg:            darken($navbar-custom-bg, 6.5%);
$navbar-custom-link-disabled-color:       #ccc;
$navbar-custom-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-custom-brand-color:               $navbar-custom-link-color;
$navbar-custom-brand-hover-color:         darken($navbar-custom-brand-color, 7%);
$navbar-custom-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-custom-toggle-hover-bg:           transparent;
$navbar-custom-toggle-icon-bar-bg:        #ccc;
$navbar-custom-toggle-border-color:       #ddd;

// Default navbar
.navbar-custom {
  background-color: $navbar-custom-bg;
  border-color: $navbar-custom-border;

  .navbar-brand {
    color: $navbar-custom-brand-color;
    &:hover,
    &:focus {
      color: $navbar-custom-brand-hover-color;
      background-color: $navbar-custom-brand-hover-bg;
    }
  }

  .navbar-text {
    color: $navbar-custom-color;
  }

  .navbar-nav {
    > li > a {
      color: $navbar-custom-link-color;

      &:hover,
      &:focus {
        color: $navbar-custom-link-hover-color;
        background-color: $navbar-custom-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-custom-link-active-color;
        background-color: $navbar-custom-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-custom-link-disabled-color;
        background-color: $navbar-custom-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-custom-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-custom-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-custom-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-custom-border;
  }

  // Dropdown menu items and carets
  .navbar-nav {
    // Caret should match text color on hover
    > .dropdown > a:hover .caret,
    > .dropdown > a:focus .caret {
      border-top-color: $navbar-custom-link-hover-color;
      border-bottom-color: $navbar-custom-link-hover-color;
    }

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-custom-link-active-bg;
        color: $navbar-custom-link-active-color;
        .caret {
          border-top-color: $navbar-custom-link-active-color;
          border-bottom-color: $navbar-custom-link-active-color;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: $navbar-custom-link-color;
      border-bottom-color: $navbar-custom-link-color;
    }


    @media (max-width: $screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-custom-link-color;
          &:hover,
          &:focus {
            color: $navbar-custom-link-hover-color;
            background-color: $navbar-custom-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-custom-link-active-color;
            background-color: $navbar-custom-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-custom-link-disabled-color;
            background-color: $navbar-custom-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-custom-link-color;
    &:hover {
      color: $navbar-custom-link-hover-color;
    }
  }

  .navbar-text img {
    max-height: 30px;
    width: auto;
    vertical-align: middle;
  }
}
