@import "../variables";

.navbar {
  .navbar-text img {
    max-height: 30px;
    width: auto;
    vertical-align: middle;
  }
  .x-navbar-pic {
    padding-top: 9px;
    padding-bottom: 9px;

    img {
      margin-right: 7px;
    }
  }
}
