.title {
    font-weight: 300;
    margin-top: 0;
}

.title-underlined {
    padding-bottom: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.title-lg {
    font-size: 29px;
}

.title-md {
    font-size: 22px;
}
