<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>OpenLocalization</title>

  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico', 'app') }}" />
  <link rel="stylesheet" href="{{ asset('app.css', 'app') }}" />
</head>
<body ng-app="app">
  <script>
    var config = {
      API_BASE_URL: "{{ url('openl10n_api_root') }}",
    };
  </script>
  <script src="{{ asset('app.js', 'app') }}"></script>
</body>
</html>
