<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Openl10n</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  <link rel="stylesheet" href="{{ asset('assets/dist/css/vendor.css') }}" />
  <link rel="stylesheet" href="{{ asset('assets/dist/css/main.css') }}" />

  <script src="{{ asset('assets/dist/js/app.js') }}"></script>
</head>
<body>
</body>
</html>
