parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     openl10n
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    sensio_connect.client_id:     12345678910
    sensio_connect.client_secret: 12345678910
    vkontakte.client_id:          12345678910
    vkontakte.client_secret:      12345678910
    facebook.client_id:           12345678910
    facebook.client_secret:       12345678910
