<a href="#" class="languages--item">
  <div class="media">
    <span class="pull-left language-flag">
      <i class="flag flag-lg flag-{{region_code}} %>"></i>
    </span>

    <div class="media-body">
      <p class="language-name">{{name}}</p>
      <p class="language-locale">{{locale}}</p>
    </div>
  </div>
</a>
