<div class="sidebar js-scrollable" id="sidebar"></div>

<div class="content" id="content">
    <div class="inner">
      <div class="x-project-show--languages js-scrollable" id="languages-list"></div>

      <div class="x-project-show--resources js-scrollable">
        <div class="inner" id="resource-list"></div>
      </div>

      <div class="x-project-show--meta js-scrollable"></div>
    </div>

</div>
