<div class="btn-group">
  <button class="btn btn-sm btn-light action-undo" title="Undo">
    <i class="fa fa-undo"></i>
  </button>
  <button class="btn btn-sm btn-light action-copy" title="Copy text">
    <i class="fa fa-copy"></i>
  </button>
  <button class="btn btn-sm btn-light action-skip" title="Skip">
    <i class="fa fa-forward"></i>
  </button>
</div>

<div class="btn-group">
  <button class="btn btn-sm btn-light action-unapprove" <% if (!is_approved) { %>disabled<% } %>>
    <i class="fa fa-thumbs-down"></i>
  </button>
  <button class="btn btn-sm btn-light action-approve" <% if (is_approved) { %>disabled<% } %>>
    <i class="fa fa-thumbs-up"></i>
  </button>
</div>

<div class="btn-group">
  <button class="btn btn-sm btn-success btn-wide action-save">
    Save
  </button>
</div>
