<div class="ol-editor-branding">
  <a href="{{ path('openl10n_homepage') }}">
    <i class="ol-editor-logo-icon fa fa-code"></i>
  </a>
</div>

<div class="ol-editor-header-inner">
  <div class="pull-left">
    <div class="ol-editor-header-title">
      <a href="{{ path('openl10n_project_show', {slug: project.slug}) }}">
        <%- project.name %>
      </a>

      <i class="fa fa-caret-right"></i>

      <div class="ol-editor-domain-list dropdown">
        <a data-toggle="dropdown" href="#">
          <% if (context.domain) { %>
            <%- context.domain.name %>
          <% } else { %>
            All Phrases
          <% } %>
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li <% if (!context.domain) { %>class="active"<% } %>>
            <a href="#" data-id="*">All Phrases</a>
          </li>
          <% _.each(domains, function(domain) { %>
            <li <% if (context.domain && context.domain.id == domain.id) { %>class="active"<% } %>>
              <a href="#" data-id="<%- domain.id %>"><%- domain.name %></a>
            </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>

  <div class="pull-right">
    <div class="ol-editor-header-item ol-editor-header-item-form">
      <select class="form-control source-locale">
        <% _.each(languages, function(language) { %>
          <option value="<%- language.id %>" <% if (language.id == context.source) { %>selected<% } %>>
            <%- language.name %> (<%- language.id %>)
          </option>
        <% }); %>
      </select>
    </div>
    <div class="ol-editor-header-item ol-editor-header-item-text">
      <p>
        <i class="fa fa-arrow-right"></i>
      </p>
    </div>
    <div class="ol-editor-header-item ol-editor-header-item-form">
      <select class="form-control target-locale">
        <% _.each(languages, function(language) { %>
          <option value="<%- language.id %>" <% if (language.id == context.target) { %>selected<% } %>>
            <%- language.name %> (<%- language.id %>)
          </option>
        <% }); %>
      </select>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
