<a href="#" class="translation-item <% if (selected) { %>active<% } %>">
  <p class="key"><%- key %></p>
  <% if (source_phrase) { %>
  <p class="extract"><%- S(source_phrase).truncate(100, '…') %></p>
  <% } else { %>
  <p class="text-muted extract">undefined</p>
  <% } %>

  <p class="domain pull-right"><%- domain %></p>
  <p class="meta">Last updated on 24th July</p>

  <span class="status <% if (is_approved) { %>status-approved<% } else if (is_translated) { %>status-translated<% } %>"></span>
</a>
