<div class="ol-editor-source-area">
  <div class="meta pull-right">
    <span class="text-<% if (is_translated) { %>success<% } else { %>danger<% } %>">
      <i class="fa <% if (is_approved) { %>fa-check<% } else { %>fa-circle<% } %>"></i>
    </span>

    <span><%- key %></span>
    <span class="meta-domain">(<%- domain %>)</span>
  </div>

  <h4 class="title">
    Original phrase
  </h4>

  <% if (source_phrase) { %>
    <p class="phrase text-default">
      <%- source_phrase %>
    </p>
  <% } else { %>
    <p class="phrase text-danger">
      undefined
    </p>
  <% } %>
</div>

<div class="ol-editor-target-area">
  <textarea class="form-control phrase-editor" placeholder="Translate here…"><%- target_phrase %></textarea>
</div>
