<a href="#" <% if (selected) { %>class="active"<% } %>>
  <span class="status <% if (is_approved) { %>status-approved<% } else if (is_translated) { %>status-translated<% } %>">
  </span>

  <p class="domain pull-right">
    <%- domain %>
  </p>

  <p class="key">
    <span class="text-<% if (is_translated) { %>success<% } else { %>muted<% } %>">
      <i class="fa <% if (is_approved) { %>fa-check-circle-o<% } else { %>fa-circle-o<% } %>"></i>
    </span>

    <%- key %>
  </p>

  <% if (source_phrase) { %>
    <p class="extract">
      <%- S(source_phrase).truncate(100, '…') %>
    </p>
  <% } else { %>
    <p class="extract text-muted">
      undefined
    </p>
  <% } %>
</a>
