{% extends '@Openl10nWeb/Project/layout.html.twig' %}

{% set active_menu = 'resources' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Resources
      </h3>
    </div>
    <div class="col-sm-8">
      <a href="{{ path('openl10n_resource_create', {project: project.slug}) }}">
        create
      </a>
      <ul>
        {% for resource in resources %}
          <li>
            <span>
              {{ resource.pathname }}
              (
                <a href="{{ path('openl10n_resource_update', {project: project.slug, resource: resource.hash}) }}">
                  edit
                </a> -
                <a href="{{ path('openl10n_resource_import', {project: project.slug, resource: resource.hash}) }}">
                  import
                </a>
              )
            </span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
