<h3 class="title title-md title-underlined">
  Feeds
</h3>

<div>
  <div class="x-list-feeds">
    <div class="x-list-item">
      <div class="media">
        <span class="pull-left icon">
          <i class="fa fa-upload"></i>
        </span>
        <div class="media-body">
          <a href="#">MattKetmo</a> has uploaded 120 translations into
          <a href="#">Strings</a>

          <span class="date text-muted">1 hour ago</span>
        </div>
      </div>
    </div>

    <div class="x-list-item">
      <div class="media">
        <span class="pull-left icon">
          <i class="fa fa-check-circle"></i>
        </span>
        <div class="media-body">
          <a href="#">JeanLouis</a> has approved 42 phrases

          <span class="date text-muted">2 hours ago</span>
        </div>
      </div>
    </div>

    <div class="x-list-item">
      <div class="media">
        <span class="pull-left icon">
          <i class="fa fa-comments-o"></i>
        </span>
        <div class="media-body">
          <a href="#">Foo Bar</a> has commented on translation
          <a href="#">hello.world</a>

          <span class="date text-muted">3 hours ago</span>
        </div>
      </div>
    </div>

    <div class="x-list-item">
      <div class="media">
        <span class="pull-left icon">
          <i class="fa fa-pencil"></i>
        </span>
        <div class="media-body">
          <a href="#">John Doe</a> has translated
          <em>10 phrases</em>

          <span class="date text-muted">yesterday</span>
        </div>
      </div>
    </div>
  </div>
</div>
