<h3 class="title title-md title-underlined">
  Releases
</h3>

<div>
  <p>
    <a href="#" class="btn btn-block btn-dashed">
      Create a release
    </a>
  </p>

  <p>
    {# <em>No release yet</em> #}
    <ul class="list-unstyled x-list-releases">
      <li class="x-list-item">
        <span class="name">
          Auto release 1234567890
        </span>

        <time class="date">
          20 minutes ago
        </time>
      </li>

      <li class="x-list-item">
        <span class="name">
          Auto release 1234556789
        </span>

        <span class="date">
          10 Jan
        </span>
      </li>
    </ul>
  </p>
</div>
