<div class="margin-bottom-sm">

{% if resources is empty %}

  <div class="jumbotron">
    <p>
      There is no translation yet in this project! :-(
    </p>
    <p>
      <a href="{{ path('openl10n_resource_create', {project: project.slug}) }}" class="btn btn-primary btn-lg">
        Import translations
      </a>
      <a href="#" class="btn btn-link btn-lg">
        Learn more
      </a>
    </p>
  </div>

{% else %}

  <h3 class="title title-md title-underlined">
    Resources
  </h3>

  <div class="row">
    <div class="col-sm-12">
      <ul class="list-unstyled x-list-domains margin-bottom-md">
        {# {% for domain in domains %} #}
          <li>
            <div class="x-item">
              <div class="pull-right">
                <a href="#" class="heading actions">
                  <i class="fa fa-cog"></i>
                </a>
              </div>

              <a class="heading" href="#">
                <span class="progress" style="width:30%"></span>

                <i class="fa fa-tag"></i>
                <span class="name">
                  Default
                  {# domain.name #}
                </span>
              </a>

              <ul class="list-unstyled x-list-resources">
                <li>
                  <a href="#" data-toggle="collapse" data-target="#collapse-default" class="collapsed">
                    <div class="pull-right">
                      <small>
                        ?? keys
                      </small>
                    </div>
                    <small>
                      <i class="fa fa-caret-down"></i>
                      <i class="fa fa-caret-right"></i>
                      {{ resources|length }} resources
                    </small>
                  </a>
                </li>
              </ul>

              <ul class="list-unstyled x-list-resources collapse out" id="collapse-default">
                {% for resource in resources %}
                  <li>
                    <a href="#">
                      <i class="fa fa-file-text-o"></i>
                      {{ resource.pathname }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {# {% endfor %} #}
      </ul>
    </div>

    {# <div class="col-sm-6">
      <a href="{{ path('openl10n_domain_import', {'slug': project.slug}) }}" class="panel panel-default domain-card">
        <div class="panel-body">
          <i class="fa fa-cloud-upload"></i>
          Import translations
        </div>
      </a>
    </div> #}
  </div>

{% endif %}

</div>
