<div class="margin-bottom-md">

  <h3 class="title title-md title-underlined">
    Statistics
  </h3>

  <ul class="list-unstyled x-list-stats">
    <li>
      <div class="media">
        <div class="pull-left counter text-completed text-small">
          100<span class="percent-sign">%</span>
        </div>
        <div class="media-body description text-completed">
          Completed
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="pull-left counter text-unverified">
          2<span class="percent-sign">%</span>
        </div>
        <div class="media-body description text-unverified">
          Unapproved
        </div>
      </div>
    </li>
    <li>
      <div class="media">
        <div class="pull-left counter text-untranslated">
          10<span class="percent-sign">%</span>
        </div>
        <div class="media-body description text-untranslated">
          Untranslated
        </div>
      </div>
    </li>
  </ul>

</div>
