<header class="navbar navbar-inverse navbar-fixed-top wide-border" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        OpenLocalization
      </a>
    </div>

    <nav class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/">
            Projects
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
      </ul>
    </nav><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</header>
