{% extends '@Openl10nUser/Settings/layout.html.twig' %}

{% set active_menu = 'general' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Edit your profile
      </h3>
    </div>
    <div class="col-sm-8">
      <form action="{{ path('openl10n_user_settings_general') }}" method="POST" novalidate>

          <div>
            {{ form_widget(form) }}
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
      </form>
    </div>

    <div class="col-sm-3 hidden-xs">
      <p>
        <img class="img-responsive" src="{{ avatar_url(app.user.email, 150) }}" alt="Avatar">
      </p>

      <p>
        You can change your avatar at <a href="#">Gravatar.com</a>
      </p>
    </div>
  </div>
{% endblock %}
