{% extends '@Openl10nUser/Settings/layout.html.twig' %}

{% set active_menu = 'leave' %}

{% block settings_content %}
  <div class="row">
    <div class="col-md-8">
      <form action="{{ path('openl10n_user_settings_leave') }}" method="POST" novalidate>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Delete my account</h3>
          </div>

          {{ form_widget(form) }}

          <div class="panel-body">
            <p>Be careful, this action cannot be undone.</p>
            <p>Are you sur you want to remove your account?</p>
          </div>

          <div class="panel-footer">
            <button type="submit" class="btn btn-danger">Yes, delete my account</button>
            <a href="{{ path('openl10n_homepage') }}" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
