{% extends '@Openl10nUser/Settings/layout.html.twig' %}

{% trans_default_domain 'user' %}
{% set active_menu = 'password' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        {{ 'settings.password.title'|trans }}
      </h3>
    </div>
    <div class="col-md-8">
      <form action="{{ path('openl10n_user_settings_password') }}" method="POST" novalidate>
        <div>
          {{ form_widget(form) }}
        </div>

        <div>
          <button type="submit" class="btn btn-primary">
            {{ 'settings.password.submit'|trans }}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
