openl10n_homepage:
    pattern:  /
    defaults: { _controller: openl10n.controller.homepage:indexAction }

openl10n_project_list:
    pattern:  /projects/
    defaults: { _controller: openl10n.controller.project:listAction }
openl10n_project_new:
    pattern:  /projects/new
    defaults: { _controller: openl10n.controller.project:newAction }
openl10n_project_show:
    pattern:  /projects/{slug}/
    defaults: { _controller: openl10n.controller.project:showAction }
openl10n_project_edit:
    pattern:  /projects/{slug}/edit
    defaults: { _controller: openl10n.controller.project:editAction }
openl10n_project_delete:
    pattern:  /projects/{slug}/delete
    defaults: { _controller: openl10n.controller.project:deleteAction }

openl10n_language_list:
    pattern:  /projects/{slug}/languages/
    defaults: { _controller: openl10n.controller.language:listAction }
openl10n_language_new:
    pattern:  /projects/{slug}/languages/new
    defaults: { _controller: openl10n.controller.language:newAction }
openl10n_language_delete:
    pattern:  /projects/{slug}/languages/{locale}/delete
    defaults: { _controller: openl10n.controller.language:deleteAction }

openl10n_domain_import:
    pattern:  /projects/{slug}/import
    defaults: { _controller: openl10n.controller.domain:importAction }
openl10n_domain_export:
    pattern:  /projects/{slug}/export
    defaults: { _controller: openl10n.controller.domain:exportAction }

openl10n_translation_list:
    pattern:  /projects/{project}/translations/{target}/
    defaults: { _controller: openl10n.controller.translation:listAction }
openl10n_translation_show:
    pattern:  /projects/{project}/translations/{target}/{hash}
    defaults: { _controller: openl10n.controller.translation:showAction }

openl10n_translation_context_switch:
    pattern:  /projects/{project}/switch-context
    defaults: { _controller: Openl10nWebBundle:TranslationContext:switch }
