.navbar {
  .navbar-text img {
    max-height: 30px;
    width: auto;
    vertical-align: middle;
  }
  .x-navbar-pic {
    padding-top: 9px;
    padding-bottom: 9px;

    img {
      margin-right: 7px;
    }
  }
}

.navbar-user-dropdown {
  min-width: 260px;

  .user-info {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    //line-height: 1.42857;
    color: #333;
    white-space: nowrap;

    p {
      margin: 0;
      padding: 0;
    }

    .meta-displayname {
      font-size: 16px;
      font-weight: bold;
    }
    .meta-email {
      color: #777;
      font-size: 14px;
      //font-weight: 300;
    }
    .links {
      margin-top: 10px;
    }
  }
}
