.title {
  font-weight: 300;
  margin-top: 0;
  //color: #636664;
}

.title-xlg {
  font-size: 30px;
}

.title-lg {
  font-size: 26px;
}

.title-md {
  font-size: 22px;
}

.title-sm {
  font-size: 18px;
}

.title-underlined {
  padding-bottom: 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.title-uppercase {
  text-transform: uppercase;
}
