{% extends '@Openl10nWeb/Project/layout.html.twig' %}

{% set active_menu = 'delete' %}

{% block settings_content %}
  <div class="row">
    <div class="col-sm-12">
      <h3 class="title title-md title-underlined">
        Delete project
      </h3>
    </div>
    <div class="col-md-12">
      <form action="{{ path('openl10n_project_delete', {'slug': project.slug}) }}" method="POST" novalidate>
        {{ form_widget(form) }}

        <p class="lead">
          Are you sur you want to delete the project <strong>{{ project.name }}</strong>?
        </p>

        <div>
          <button type="submit" class="btn btn-danger">Yes, delete</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
