{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form action="{{ path('openl10n_project_edit', {'slug': project.slug}) }}" method="POST" class="panel panel-default" novalidate>
          <div class="panel-heading">
            <h3 class="panel-title">
              Edit project
            </h3>
          </div>

          <div class="panel-body">
            {{ form_widget(form) }}
          </div>

          <div class="panel-footer">
            <div class="pull-right">
              <a href="{{ path('openl10n_project_delete', {'slug': project.slug}) }}" class="btn btn-danger">Delete</a>
            </div>

            <button type="submit" class="btn btn-primary">
              Valid
            </button>

            <a href="{{ path('openl10n_project_show', {'slug': project.slug}) }}" class="btn btn-link">
              Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
