//
// Application variables
// ---------------------

$primary-color: #2980b9;
$complement-color: #ffb147;

$brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$light-gray: #eee;
$dark-gray: #ccc;

// Bootstrap grays
$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee


// Bootstrap variables
// -------------------

//
// Link
//
$link-color:       $brand-primary;
$link-hover-color: darken($link-color, 15%);

//
// Generic style
//
$border-radius-base:  2px;
$border-radius-large: 2px;
$border-radius-small: 0px;

//
// Buttons
//
//$btn-primary-bg: #ee6123;
//$btn-primary-border: #ee6123;

//
// Navbar
//
$navbar-inverse-color:                      #fff;
$navbar-inverse-bg:                         $primary-color;
$navbar-inverse-border:                     $primary-color;

$navbar-inverse-link-color:                 #fff;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        $gray-light;
$navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            transparent;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #fff;

//$navbar-default-color:                     #fff;
//$navbar-default-bg:                        $primary-color;
//$navbar-default-link-color:                #fff;
//$navbar-default-link-hover-color:          #f2f2f2;
//$navbar-default-link-hover-bg:             transparent;
//$navbar-default-link-active-color:         #eee;
//$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
//$navbar-default-link-disabled-color:       #ccc;
//$navbar-default-link-disabled-bg:          transparent;
//$navbar-default-toggle-hover-bg:           darken($navbar-default-bg, 6.5%);
//$navbar-default-toggle-icon-bar-bg:        #fff;
//$navbar-default-toggle-border-color:       darken($navbar-default-bg, 6.5%);
//$navbar-border-radius:                     0;


// Font Awesome variables
// ----------------------

$fa-font-path: '/assets/dist/fonts/font-awesome';
