@import "variables";

html,
body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
}

.page-wrapper {
  //padding-top: 70px; /* 50px (navbar) + 20px margin */
  padding-top: 50px;
}

a:hover {
  text-decoration: none;
}


// Experimental styles

.stats-canvas-container {
  position: relative;

  canvas {
    display: block;
    margin: 5px auto;
    max-width: 100%
  }
  .stats-score {
    position: absolute;
    font-size: 26px;
    top: 32%;
    left: 40%;
  }
}

// .container-fullwidth {
//   padding: 0;
// }

@import "components/badges";
@import "components/buttons";
@import "components/flag";
@import "components/form";
@import "components/header";
@import "components/icons";
@import "components/javascript";
@import "components/list";
@import "components/nav";
@import "components/navbar";
@import "components/panel";
@import "components/tooltip";
@import "components/typography";
@import "components/util";
@import "page";
