{% extends '@Openl10nWeb/layout/main.html.twig' %}

{% block content %}
  <div class="container">
    <p><strong>Username</strong>: {{ user.username }}</p>
    <p><strong>Email</strong>: {{ user.email }}</p>
    <p><strong>Name</strong>: {{ user.name }}</p>
    <p><strong>Locale</strong>: {{ user.preferedLocale }}</p>
  </div>
{% endblock %}
