<div class="container margin-top-md">
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                User information
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <a href="/app" data-bypass>
                 Try the new interface (beta)
                </a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <a href="/new" class="btn btn-success">Create</a>
          </div>
          <h2 class="title title-xlg">Projects</h2>
        </div>

        <div id="project-list"></div>
      </div>
    </div>
  </div>
</div>
