<a href="/projects/{{slug}}">
    <div class="col-sm-6">
      <div class="panel panel-default x-project-list--item">
        <div class="panel-body">
          <div class="media margin-bottom-sm">
            {{!-- <span class="pull-left">
              <span class="default-avatar"></span>
            </span> --}}

            <div class="media-body">
              <h3 class="x-project-list--item--title title">
                {{ name }}
              </h3>
              <p class="x-project-list--item--category">
                {{ slug }}
              </p>
            </div>
          </div>

          <p class="x-project-list--item--description">
            {{ description }}
          </p>
        </div>
      </div>
    </div>
</a>
