<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Openl10n</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block stylesheets %}
    {% stylesheets
      '@Openl10nWebBundle/Resources/assets/css/vendor/*'
      '@Openl10nWebBundle/Resources/assets/css/*'
      '@Openl10nWebBundle/Resources/assets/css/components/*.scss'
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
  {% endblock %}
</head>
<body>
  {% block body '' %}

  {% block javascripts %}
    {% javascripts
      '@Openl10nWebBundle/Resources/assets/js/vendor/jquery.js'
      '@Openl10nWebBundle/Resources/assets/js/vendor/bootstrap.js'
      '@Openl10nWebBundle/Resources/assets/js/vendor/selectize.js'
      '@Openl10nWebBundle/Resources/assets/js/vendor/string.js'
      '@Openl10nWebBundle/Resources/assets/js/vendor/essage.js'
      '@Openl10nWebBundle/Resources/assets/js/*.js'
    %}
      <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  {% endblock %}
</body>
</html>
